@import 'reset.css';
@import 'media.css';

body {
    z-index: 1;
}

/* Глав меню */

.header {
    display: flex;
    width: 100%;

    justify-content: space-around;
    align-items: center;
    background-color: #411A94;
    color: #fff;
    padding: 10px 0 10px 0;
    position: sticky;
    top: 0;

    z-index: 5;
}

.logo {
    font-size: 25px;
}

.search {
    border-radius: 45px;
    background: #0C0A0A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 440px;
    height: 50px;
    color: #fff;
    text-align: left;
    border: 1px solid #0C0A0A;
    padding-left: 20px;
}

.nickname {
    font-size: 25px;
}

.main {
    background-image: url('../img/fon.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.anime-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    max-width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.news {
    width: 40%;
    height: auto;
    font-size: 25px;
    text-align: center;

    margin-left: 30%;
    margin-right: 30%;
    margin-top: 2%;
    margin-bottom: 2%;


    border-radius: 25px;
    background: rgba(65, 26, 148, 0.88);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(65, 26, 148, 0.88);

    padding: 10px 0 10px 0;

    color: #fff;
}

.anime-card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border-radius: 175px 175px 25px 25px;

    background-color: #572B8F;
    width: 300px;
    height: auto;
    color: #fff;
    text-align: center;

    padding-bottom: 20px;
    margin-bottom: 40px;
}

.anime-card > img {
    width: 100%;
}

.anime-img {

}

.name {
    font-size: 30px;
}

.series {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.rating {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    left: 240px;
    border: 5px solid #2F174F;

    width: 30px;
    height: 30px;
    border-radius: 25px;

    text-align: center;
    padding: 5px;
}

.footer {
    display: flex;
    width: 100%;
    
    justify-content: space-around;
    align-items: center;
    background-color: #411A94;
    color: #fff;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.about > a {
    text-decoration: none;
    color: #fff;
}

/* Регистрация */

.reg {
    display: flex;
    flex-direction: column;

    background-image: url('../img/remXram.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100vh;

    align-items: center;
}

.reg-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 60%;
    height: 60%;

    margin-top: 10%;
    margin-bottom: 10%;

    border-radius: 150px;
    background: rgba(5, 0, 55, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.reg-block > input {
    border-radius: 25px;
    background: #050037;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid rgba(0, 0, 0, 0.25);
    color: #fff;

    width: 400px;
    height: 30px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.reg-block > a {
    text-decoration: none;
    color: #fff;
}

.reg-link {
}

/* rem */

.rem {
    width: 100%;
    height: 100vh;

    background-image: url('../img/rem.png');
    background-repeat: no-repeat;
    background-size: cover;

    z-index: 2;
    position: absolute;
}

.heart {
    background-image: url('../img/heart.svg');
    background-repeat: no-repeat;
    background-size: cover;

    width: 324px;
    height: 321px;

    z-index: 3;
    position: absolute;

    top: 70%;
    left: 41%;
}

/* Profile */

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url('../img/fon.png');
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
    color: #fff;
    text-align: center;
    font-size: 45px;
}

.avatar-user {
    width: 450px;
    height: 450px;
}

.nickname {
    font-size: 45px;
}

.description {

}

.info {

}



