@import 'reset.css';
@import 'media.css';

body {
    z-index: 1;
    background: #3B3A3A;
}

a {
    text-decoration: none;
    color: #fff;
}

a:visited {
    color: #fff;
}

.block-name {

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin:  auto;
    margin-bottom: 90px;
    margin-top: 90px;

    /* width: 530px; */
    max-width: 530px;
    min-width: 120px;

    height: 80px;

    color: #FFF;

    border-radius: 25px;
    background: rgba(103, 103, 103, 0.88);
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.header {
    width: 100%;
    background: rgba(40, 40, 40, 0.88);

    padding: 20px 0 20px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 900px;
    min-width: 160px;
}

.search input {
    width: 900px;
    height: 60px;

    background-image: url('../img/utilis/search.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: auto;

    background-color: #fff;

    border: 1px solid #fff;
    border-radius: 25px;

    font-size: 25px;
}

.search input:focus{
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.search input::placeholder {
    font-size: 25px;
}

.profile {
    display: flex;
}

.burger {
    display: flex;
}



.main {
    padding: 0 70px 0 70px;
}


/* Главная */
.new-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.new {
    display: flex;
    flex-wrap: wrap;
    column-gap: 35px;
}



.anime-block {
    display: flex;
    flex-direction: column;
    text-align: center;

    width: clamp(5.125rem, 3.4000rem + 8.6250vw, 13.75rem);

}

.anime-img {
    border-radius: 25px;
    height: clamp(7.5rem, 4.9400rem + 12.8000vw, 20.3rem);
}

.anime-name {
    color: #FFF9F9;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    text-wrap: wrap;
}

.news {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post-block {
    display: flex;
    flex-direction: column;
  
    width: clamp(5.1rem, 1.6200rem + 17.4000vw, 22.5rem);
    margin-bottom: 70px;
}

.post-img {
    height: clamp(2.8rem, -0.7600rem + 17.8000vw, 20.6rem);
}

.post-name {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.post-desc {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.preview-block {
    /* width: 400px; */
    max-width: 400px;
    min-width: 82px;

    margin-bottom: 70px;
}

.preview-img {
    width: 400px;
    height: 224px;
}

.preview-name {
    color: #FFF;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* One Anime */

.oneanime {
    padding: 50px;
}

.aniname {
    color: #FFF9F9;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.animg {
    width: 400px;
    height: 500px;
}

.info {
    position: relative;
    bottom: 530px;
    left: 480px;
    width: 480px;
}

.info > p {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFF;

    width: 280px;
    height: 30px;

    background-color: #2A2A2A;
}

.info div {
    color: #FFF;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.genres {

}

.year {

}

.col-anime {

}

.rating {

}

.alt-name {

}

.studio {
    position: relative;
    bottom: 805px;
    left: 1200px;

    width: 200px;
}

.studio > p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2A2A2A;

    width: 280px;
    height: 30px;

    color: #fff;
}

.studio-img {
    width: 280px;
    /* height: 100px; */
}

.bookmarks {
    width: 320px;
    height: 60px;

    border-radius: 25px;
    background: #2A2A2A;
    border: 2px solid #2A2A2A;
    color: #fff;

    position: relative;
    top: 60px;
    right: 370px;
}

.bookmarks:hover {
    cursor: pointer;
}

.desc {
    position: relative;
    bottom: 180px;
    color: #FFF;
}

.desc h1 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1780px;
    background: #2A2A2A;
    text-align: center;
    color: #FFF;

    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.desc p {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* padding: 25px; */
    width: 1780px;

    background-color: #454545;;
}

.rew-h {
    color: #FFF;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.review-block {
    width: 1603px;
    height: 150px;
}

.review {
    padding: 20px;
    width: 1600px;
    background: rgba(0, 0, 0, 0.30);
    margin-bottom: 50px;
}

.rev-img {

}

.rev-name {
    display: flex;
    align-items: center;
}

.rev-name

.rev-text {

}